<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <h1>Порода: <%= breed.breed %>  </h1>
    <p>Рост: <%= breed.height %> </p>
    <p>Продолжительность жизни: <%= breed.age %> </p>
    <p>Шерсть: <%= breed.wool %> </p>
    <p>Окрас: <%= breed.color %> </p>
    
    <a href="/breeds">Назад к породам</a>
    <a href="/breeds/<%= breed.id %>/edit ">Редактировать</a>
</body>
</html>